* {
    margin: 0px;
    padding: 15px;
    box-sizing: border-box;
    /*border: 2px solid red;*/
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1container {
    
    /*padding: 5px;*/
    display: flex;
    justify-content: center;
    /* align-content: center; */
    padding-bottom: 0px;
    background-color: #1F2937;
}

.section1 {
    /*background-color: #1F2937;*/
    color: rgb(222, 184, 135);
    width: 100vw;
    display: flex;
    justify-content: center;
}

.section2container {
   
    /*padding: 5px;*/
    display: flex;
    justify-content: center;
    padding-top: 0px;
    background-color: #1F2937;
}

.section2 {
    /*background-color: #1F2937;*/
    color: burlywood;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#playername {
   caret-color: rgb(148, 104, 46); /*did not work*/
}

.section3container {
   
    /*padding: 5px;*/
    display: flex;
    justify-content: center;
    padding-top: 0px;
    background-color: #1F2937;
}

.section3 {
    /*background-color: #1F2937;*/
    color: burlywood;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.section3a {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%; /*35vw;*/
}

.section3b {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%; /*45vw;*/
}

.section3a img{
    height: 50%;
    width: 50%;
}

.section3b img {
    height: 50%;
    width: 50%;
    
}

.scorebox {
    text-align: center;
}

.displayscore {
    text-align: center;
}

.section4container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    /*background-color: white;*/
    padding-top: 0px;
}

.section4 {
    /* background-color: white; /* teal */
    color: burlywood;
    width: 100vw;
    /*height: 400px; */
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    display: flex;
    justify-content: space-around;
}

.item1 img, .item2 img, .item3 img {
    height: 100px;
    width: 100px;
    border-radius: 20%;
    border: 3px solid rgb(148, 104, 46); /*blue*/
    padding: 0px; /*Used center for centering images. Can also use flexbox. Use margin: auto. TBD when free.*/
    margin: 0 auto;
}

.item1 p, .item2 p, .item3 p, .item4 p {
    text-align: center;
    overflow-wrap: break-word;
    /*word-wrap: break-word;
    could also use p class="items"*/
}

.button {
    background-color: burlywood;
    color: burlywood;
    border-radius: 20%;
    padding: 20px;
    border: 3px solid burlywood;
    /* padding: 10px;
    margin: 10px; */
}

.item1:hover {
    background-color: burlywood; /* check against ordernow */
    color: white;
    /* opacity: 0.5; */
    box-shadow: 0 0 30px 0 rgb(240, 222, 199),
                0 0 30px 0 rgb(240, 222, 199),
                0 0 10px 0 rgb(240, 222, 199) inset;
}

.item2:hover {
    background-color: burlywood; /* check against ordernow */
    color: white;
    /* opacity: 0.5; */
    box-shadow: 0 0 30px 0 rgb(240, 222, 199),
                0 0 30px 0 rgb(240, 222, 199),
                0 0 10px 0 rgb(240, 222, 199) inset;
}

.item3:hover {
    background-color: burlywood; /* check against ordernow */
    color: white;
    /* opacity: 0.5; */
    box-shadow: 0 0 30px 0 rgb(240, 222, 199),
                0 0 30px 0 rgb(240, 222, 199),
                0 0 10px 0 rgb(240, 222, 199) inset;
}

/*.item p {
    text-align: center;
}*/

.section5container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.section5 {
    /* background-color: #1F2937; */
    color: burlywood;
    width: 100vw;
}

.rpsversion {
    text-align: center;
}

/*.rpscredit {
    text-align: center;
}*/

.container, body, html {
    padding: 0px;
}

/* .box1 h2, .box2 p, .box3 h3, .box4 h3, .box5 h3{
    text-align: center;
}

.section2-container {
   
    /*padding: 5px;*
    display: flex;
    justify-content: center;
    padding-top: 0px;
}
.section2 {
    background-color: #1F2937;
    color: burlywood;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}*/

.section2a {
    width: 35%; /*35vw;*/
}

.section2b {
    width: 45%; /*45vw;*/
}